In [2]:
import pandas as pd

In [5]:
data = [
    [1,2,3,4,5],
    [1,1,3,4,5],
    [1,2,2,2,5],
    [1,2,3,4,2]
]

df = pd.DataFrame(data, columns=['a', 'b', 'c', 'd', 'e'])

print(df)

   a  b  c  d  e
0  1  2  3  4  5
1  1  1  3  4  5
2  1  2  2  2  5
3  1  2  3  4  2

In [7]:
df.eq(2)

       a      b      c      d      e
0  False   True  False  False  False
1  False  False  False  False  False
2  False   True   True   True  False
3  False   True  False  False   True

In [9]:
df.eq(2).sum(axis=1)

0    1
1    0
2    3
3    2
dtype: int64

In [13]:
f = list(df.eq(2).sum(axis=1))
print(f)

[1, 0, 3, 2]

In [15]:
df['f'] = f

print(df)

   a  b  c  d  e  f
0  1  2  3  4  5  1
1  1  1  3  4  5  0
2  1  2  2  2  5  3
3  1  2  3  4  2  2