## IMPORT Library

In [378]:
import pandas as pd
import pymysql
import math
import numpy as np
import matplotlib.pyplot as plt

## Define functions

In [379]:
# 0,0,0,3,56,7,2,0,0,0,4,3,4,56,32,0,0,0,0 
# => [[3,56,7,2],[4,3,4,56,32]]
def get_list(queue):
    '''
     [0,0,0,3,56,7,2,0,0,0,4,3,4,56,32,0,0,0,0]
     => [[3,56,7,2],[4,3,4,56,32]]
    '''
    result = []
    tmp = []
    
    while(len(queue)>0):
        e = queue.pop(0)
        if e != 0 :
            tmp.append(e)
            # print(e)
        elif len(tmp)>0:
            result.append(tmp)
            tmp = []
            # print(result)
        else:
            continue
    
    return result

def get_index(queue):
    '''
     [0,0,0,3,56,7,2,0,0,0,4,3,4,56,32,0,0,0,0]
     => [[3,4,5,6],[10,11,12,13,14]]
    '''
    result = []
    tmp = []
    # print(len(queue))
    
    for i in range(len(queue)):
        e = queue.pop(0)
        if e != 0:
            tmp.append(i)
            # print(i)
        elif len(tmp)>0:
            result.append(tmp)
            tmp = []
            # print(result)
        else:
            continue
    # print("result: ", result)
    return result

def get_index_2(queue):
    '''
     [0,0,0,3,56,7,2,0,0,0,4,3,4,56,32,0,0,0,0]
     => [[3,4,5,6],[10,11,12,13,14]]
    '''
    result = []
    tmp = []
    # print(len(queue))
    
    
    for i in range(len(queue)):
        e = queue.pop(0)
        e1 = queue[0]
        if e != 0:
            tmp.append(i)
            # print(i)
        elif len(tmp)>0 and 
        elif len(tmp)>0:
            result.append(tmp)
            tmp = []
            # print(result)
        else:
            continue
    # print("result: ", result)
    return result

## Read DB & get data

In [380]:
columns = ['DataSavedTime', 'Item']

In [381]:
conn = pymysql.connect(
    host='192.168.100.225',
    port=3306,
    user='root',
    password='its@1234',
    db='KIA_India_test',
    charset='utf8'
)

curs = conn.cursor()
# DL
# item = "Item055"
# exception = 10
# item = "Item016"
# exception = 20
# item = "Item018"
# exception = 20
# item = "Item032"
# exception = 15
# item = "Item033"
# exception = 20

# TL
item = "Item001"
exception = 30
# item = "Item002"
# exception = 20
# item = "Item013"
# exception = 10
# item = "Item014"
# exception = 15
# item = "Item021"
# exception = 20
# item = "Item022"
# exception = 20
# item = "Item023"
# exception = 20
# item = "Item024"
# exception = 20
# item = "Item025"
# exception = 20
# item = "Item026"
# exception = 10
# item = "Item027"
# exception = 20
# item = "Item028"
# exception = 20


sql = "select DataSavedTime, "+item+" from HisItemCurr WHERE DataSavedTime between \
    '2019-11-28 00:00:01' and '2019-11-28 12:00:00' ORDER BY DataSavedTime ASC"
curs.execute(sql)

rows=curs.fetchall()
# print(rows)
li = list(rows)
conn.close()
df = pd.DataFrame(li)
df.columns = columns
print(df)

                DataSavedTime   Item
0     2019-11-28 09:30:00.000  16.17
1     2019-11-28 09:30:00.100   1.58
2     2019-11-28 09:30:00.200   1.58
3     2019-11-28 09:30:00.300   1.58
4     2019-11-28 09:30:00.400   1.58
...                       ...    ...
82940 2019-11-28 11:39:59.700   0.00
82941 2019-11-28 11:39:59.700   0.00
82942 2019-11-28 11:39:59.800   0.00
82943 2019-11-28 11:39:59.900   0.00
82944 2019-11-28 11:40:00.000   0.00

[82945 rows x 2 columns]

## Getting each wave form

In [382]:
Item = list(df['Item'])
Item_zero = [0 if v is None or np.isnan(v) else v for v in Item]
# print(sum(Item_zero))
result_i = get_index(Item_zero)
# print(result_i)
ln = []
# peak_list = []
sum_list = []
mean_list = []
start_list = []
stop_list = []

for i in range(len(result_i)):
    a = result_i[i]
    if len(a) <= exception:
        continue
    else:
        # print("Step: ", i, "len: ", len(a))
        # print(a)
        # print("Start Index:", a[0], "Stop Index:", a[-1])
        print(len(a))

        stti = a[0]+exception
        print(stti)
        stpi = a[-1]
        tmp_df = df.iloc[stti:stpi+1]
        # print(tmp_df.shape)
        # print(tmp_df)
        # print("sum(area): ", sum(tmp_df['Item']))
        sum_list.append(sum(tmp_df['Item']))
        # print("mean(avg)", np.mean(tmp_df['Item']))
        mean_list.append(np.mean(tmp_df['Item']))
        # print("peak", max(tmp_df['Item']))
        # peak_list.append(max(tmp_df['Item']))
        start = tmp_df['DataSavedTime'].iloc[0]
        start_list.append(start)
        stop = tmp_df['DataSavedTime'].iloc[-1]
        stop_list.append(stop)
        # print("Start:", tmp_df['DataSavedTime'].iloc[0], "Stop:", tmp_df['DataSavedTime'].iloc[-1])
        # print(stop - start)
        # plt.plot(tmp_df['DataSavedTime'], tmp_df['Item'])
        # plt.show()
        # ln.append(len(a))
    
# plt.hist(ln)
# print(len(ln))

dict_data = {'start': start_list, 'stop':stop_list, 'avg': mean_list, 'area': sum_list}

df_dict = pd.DataFrame(dict_data)
print(df_dict)

31
1377
33
1771
31
1846
31
2081
31
2492
39
2709
54
3174
55
3868
41
5300
31
5352
41
5575
38
9503
32
9798
41
10262
44
11611
33
12341
32
13251
36
13299
31
13717
61
15375
42
15796
44
16500
47
16753
35
17425
38
17884
33
18550
36
19234
47
19271
37
19498
46
20204
43
20638
42
25306
49
25349
36
26255
63
26632
37
27376
36
28023
36
28080
31
28734
42
28945
32
29462
38
29634
44
30098
38
30294
46
30832
45
31017
32
31063
34
31432
38
31719
35
32114
39
32150
53
33087
56
33528
35
34241
39
34946
38
35133
45
35619
50
35838
39
36376
33
36983
33
37271
45
37676
57
38638
36
40032
32
52310
38
52349
86
53042
34
53703
49
54184
37
54467
31
54883
42
55134
35
55483
34
55523
31
55558
41
55749
35
56179
44
56228
31
56927
40
57149
35
57607
42
57840
33
58300
54
58527
52
59273
40
60385
47
60658
48
61093
32
61329
37
61790
48
63491
35
64127
31
64876
38
72942
50
73140
33
73563
38
73597
68
74276
49
75240
35
76386
69
76624
38
77766
61
77987
41
78415
38
78633
31
78693
31
79106
37
79338
42
79388
36
79809
53
80025
38
80464
80
80681
53
81138
64
81380
                      start                    stop        avg    area
0   2019-11-28 09:32:07.700 2019-11-28 09:32:07.700  15.140000   15.14
1   2019-11-28 09:32:45.300 2019-11-28 09:32:45.500  12.370000   37.11
2   2019-11-28 09:32:52.300 2019-11-28 09:32:52.300  12.300000   12.30
3   2019-11-28 09:33:14.200 2019-11-28 09:33:14.200   1.180000    1.18
4   2019-11-28 09:33:52.300 2019-11-28 09:33:52.300  12.350000   12.35
..                      ...                     ...        ...     ...
110 2019-11-28 11:35:24.500 2019-11-28 11:35:26.700  14.559130  334.86
111 2019-11-28 11:36:05.700 2019-11-28 11:36:06.400  13.185000  105.48
112 2019-11-28 11:36:26.500 2019-11-28 11:36:31.400  14.791600  739.58
113 2019-11-28 11:37:10.400 2019-11-28 11:37:12.600  13.041304  299.95
114 2019-11-28 11:37:33.500 2019-11-28 11:37:36.800  14.403529  489.72

[115 rows x 4 columns]

In [383]:
df_dict.to_csv(item + "_analysis_2019-11-28.csv", header=True)