## IMPORT Library

In [61]:
import pandas as pd
import pymysql
import math
import numpy as np
import matplotlib.pyplot as plt

## Define functions

In [62]:
# 0,0,0,3,56,7,2,0,0,0,4,3,4,56,32,0,0,0,0 
# => [[3,56,7,2],[4,3,4,56,32]]
def get_list(queue):
    '''
     [0,0,0,3,56,7,2,0,0,0,4,3,4,56,32,0,0,0,0]
     => [[3,56,7,2],[4,3,4,56,32]]
    '''
    result = []
    tmp = []
    
    while(len(queue)>0):
        e = queue.pop(0)
        if ~np.isnan(e):
            tmp.append(e)
            # print(e)
        elif len(tmp)>0:
            result.append(tmp)
            tmp = []
            # print(result)
        else:
            continue
   
    return result

def get_index(queue):
    '''
     [0,0,0,3,56,7,2,0,0,0,4,3,4,56,32,0,0,0,0]
     => [[3,4,5,6],[10,11,12,13,14]]
    '''
    result = []
    tmp = []
    # print(len(queue))
    
    for i in range(len(queue)):
        e = queue.pop(0)
        if ~np.isnan(e):
            tmp.append(i)
            # print(i)
        elif len(tmp)>0:
            result.append(tmp)
            tmp = []
            # print(result)
        else:
            continue
   
    return result

In [9]:
print(get_list.__doc__)
print(get_index.__doc__)

     [0,0,0,3,56,7,2,0,0,0,4,3,4,56,32,0,0,0,0]
     => [[3,56,7,2],[4,3,4,56,32]]


     [0,0,0,3,56,7,2,0,0,0,4,3,4,56,32,0,0,0,0]
     => [[3,4,5,6],[10,11,12,13,14]]

## Read csv or DB & get data

In [49]:
date_time_column = ['DataSavedTime', 'MilliSecond']
column_list = ['Item{0:03d}'.format(item) for item in range(1,451)]
columns = date_time_column + column_list

In [50]:
df = pd.read_csv("KIA_India_data/2019-11-25/HisItemCurr.csv")

df.columns = columns
print(df)

                  DataSavedTime  MilliSecond  Item001  Item002  Item003  \
0       2019-11-25 10:00:00.100          100      NaN      NaN    12.55
1       2019-11-25 10:00:00.200          200      NaN      NaN    12.55
2       2019-11-25 10:00:00.300          300      NaN      NaN    12.55
3       2019-11-25 10:00:00.400          400      NaN      NaN    12.55
4       2019-11-25 10:00:00.500          500      NaN      NaN    12.55
...                         ...          ...      ...      ...      ...
502036  2019-11-25 23:59:59.600          600    11.84      NaN    12.53
502037  2019-11-25 23:59:59.700          700    11.60      NaN    12.83
502038  2019-11-25 23:59:59.800          800    11.57      NaN    12.33
502039  2019-11-25 23:59:59.900          900    11.53      NaN    12.46
502040  2019-11-26 00:00:00.000            0    11.86      NaN    12.47

        Item004  Item005  Item006  Item007  Item008  ...  Item441  Item442  \
0         12.15     3.63    12.17    10.54    10.61  ...      NaN      NaN
1         12.15     3.63    12.17    10.54    10.61  ...      NaN      NaN
2         12.15     3.63    12.17    10.54    10.67  ...      NaN      NaN
3         12.26     3.63    12.64    10.61    10.67  ...      NaN      NaN
4         12.26     3.63    12.64    10.61    10.67  ...      NaN      NaN
...         ...      ...      ...      ...      ...  ...      ...      ...
502036    12.69     3.63    12.23    11.67    10.54  ...      NaN      NaN
502037    12.34     3.61    12.63    11.87    10.53  ...      NaN      NaN
502038    12.57     3.63    12.64    11.45    10.52  ...      NaN      NaN
502039    12.24     3.61    12.31    11.71    10.52  ...      NaN      NaN
502040    12.54     3.63    12.64    11.70    10.53  ...      NaN      NaN

        Item443  Item444  Item445  Item446  Item447  Item448  Item449  Item450
0           NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1           NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2           NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3           NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
4           NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
...         ...      ...      ...      ...      ...      ...      ...      ...
502036      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
502037      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
502038      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
502039      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
502040      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN

[502041 rows x 452 columns]

In [59]:
conn = pymysql.connect(
    host='192.168.100.225',
    port=3306,
    user='root',
    password='its@1234',
    db='KIA_India_test',
    charset='utf8'
)

curs = conn.cursor()

sql = "select * from HisItemCurr WHERE DataSavedTime between \
    '2019-11-25 20:00:00' and '2019-11-26 00:00:00' ORDER BY DataSavedTime ASC"
curs.execute(sql)

rows=curs.fetchall()
# print(rows)
li = list(rows)
conn.close()
df = pd.DataFrame(li)
df.columns = columns
print(df)

                 DataSavedTime  MilliSecond  Item001  Item002  Item003  \
0      2019-11-25 20:00:00.000            0      NaN     0.94    12.75
1      2019-11-25 20:00:00.100          100      NaN     0.95    12.09
2      2019-11-25 20:00:00.200          200      NaN     0.95    12.25
3      2019-11-25 20:00:00.300          300      NaN     0.97    12.25
4      2019-11-25 20:00:00.400          400      NaN     0.97    12.34
...                        ...          ...      ...      ...      ...
143996 2019-11-25 23:59:59.600          600    11.84      NaN    12.53
143997 2019-11-25 23:59:59.700          700    11.60      NaN    12.83
143998 2019-11-25 23:59:59.800          800    11.57      NaN    12.33
143999 2019-11-25 23:59:59.900          900    11.53      NaN    12.46
144000 2019-11-26 00:00:00.000            0    11.86      NaN    12.47

        Item004  Item005  Item006  Item007  Item008  ...  Item441  Item442  \
0         12.70     3.60    12.48    11.47    10.26  ...     None     None
1         12.75     3.59    12.63    12.08    10.26  ...     None     None
2         12.44     3.59    12.63    12.07    10.23  ...     None     None
3         12.44     3.63    12.34    12.07    10.23  ...     None     None
4         12.67     3.63    12.34    11.91    10.23  ...     None     None
...         ...      ...      ...      ...      ...  ...      ...      ...
143996    12.69     3.63    12.23    11.67    10.54  ...     None     None
143997    12.34     3.61    12.63    11.87    10.53  ...     None     None
143998    12.57     3.63    12.64    11.45    10.52  ...     None     None
143999    12.24     3.61    12.31    11.71    10.52  ...     None     None
144000    12.54     3.63    12.64    11.70    10.53  ...     None     None

        Item443  Item444  Item445  Item446  Item447  Item448  Item449  Item450
0          None     None     None     None     None     None     None     None
1          None     None     None     None     None     None     None     None
2          None     None     None     None     None     None     None     None
3          None     None     None     None     None     None     None     None
4          None     None     None     None     None     None     None     None
...         ...      ...      ...      ...      ...      ...      ...      ...
143996     None     None     None     None     None     None     None     None
143997     None     None     None     None     None     None     None     None
143998     None     None     None     None     None     None     None     None
143999     None     None     None     None     None     None     None     None
144000     None     None     None     None     None     None     None     None

[144001 rows x 452 columns]

### Check DL, TL data

In [52]:
dl_list = ['DL06','DL1', 'DL2', 'DL3-1', 'DL3-2', 'DL4-1', 'DL4-2', 'DL5-1', 'DL5-2', 'DL7']
dl_col_list = ['Item055', 'Item016', 'Item018', 'Item032', 'Item033', 'Item034', 'Item035', 'Item044', 'Item045', 'Item048']
tl_list = ['TL1', 'TL1FORK', 'TL2', 'TL2FORK', 'TL3-1', 'TL3-1FORK', 'TL3-2', 'TL3-2FORK', 'TL4-1', 'TL4-1FORK', 'TL4-2', 'TL4-2FORK' ]
tl_col_list = ['Item001', 'Item002', 'Item013', 'Item014', 'Item021', 'Item022', 'Item023', 'Item024', 'Item025', 'Item026', 'Item027', 'Item028']

In [54]:
df_zero = df.fillna(0)

In [55]:
# dl
for i in range(len(dl_list)):
    print('NAME: ', dl_list[i])
    print('Item: ', dl_col_list[i])
    dl_Item = list(df_zero[dl_col_list[i]])
    print(sum(dl_Item))

# tl
for i in range(len(tl_list)):
    print('NAME: ', tl_list[i])
    print('Item: ', tl_col_list[i])
    tl_Item = list(df_zero[tl_col_list[i]])
    print(sum(tl_Item))

NAME:  DL06
Item:  Item055
28488.61000000001
NAME:  DL1
Item:  Item016
1404610.8899999997
NAME:  DL2
Item:  Item018
1298561.6499999797
NAME:  DL3-1
Item:  Item032
847988.1899999911
NAME:  DL3-2
Item:  Item033
860745.2500000093
NAME:  DL4-1
Item:  Item034
676502.0800000008
NAME:  DL4-2
Item:  Item035
669273.2500000008
NAME:  DL5-1
Item:  Item044
660334.800000005
NAME:  DL5-2
Item:  Item045
667906.1300000008
NAME:  DL7
Item:  Item048
0.0
NAME:  TL1
Item:  Item001
1142965.5899999954
NAME:  TL1FORK
Item:  Item002
168609.40000009225
NAME:  TL2
Item:  Item013
2047394.8299999833
NAME:  TL2FORK
Item:  Item014
184078.83000007714
NAME:  TL3-1
Item:  Item021
1185881.6499999834
NAME:  TL3-1FORK
Item:  Item022
129562.86000002167
NAME:  TL3-2
Item:  Item023
1153408.97999999
NAME:  TL3-2FORK
Item:  Item024
137158.63999997123
NAME:  TL4-1
Item:  Item025
1016383.8800000089
NAME:  TL4-1FORK
Item:  Item026
121200.07000003108
NAME:  TL4-2
Item:  Item027
960155.0700000101
NAME:  TL4-2FORK
Item:  Item028
133908.93000000183

## Getting each wave form

In [63]:
Item055 = list(df['Item055'])
result_i = get_index(Item055)
# print(result_i)
ln = []
for i in range(len(result_i)):
    a = result_i[i]
#     if len(a) < 5:
#         continue
#     else:
    print("Step: ", i, "len: ", len(a))
    # print(a)
    print("Start Index:", a[0], "Stop Index:", a[-1])
    stti = a[0]
    stpi = a[-1]
    tmp_df = df.iloc[stti:stpi]
    print(tmp_df.shape)
    print(tmp_df)
    print(sum(tmp_df['Item055']))
    start = tmp_df['DataSavedTime'].iloc[0]
    stop = tmp_df['DataSavedTime'].iloc[-1]
    print("Start:", tmp_df['DataSavedTime'].iloc[0])
    print("Stop:", tmp_df['DataSavedTime'].iloc[-1])
    print(stop - start)
    plt.plot(tmp_df['DataSavedTime'], tmp_df['Item005'])
    plt.show()
    ln.append(len(a))
    
plt.hist(ln)
print(len(ln))

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

# DF to DB

In [2]:
!pip3 install sqlalchemy

Collecting sqlalchemy
  Downloading https://files.pythonhosted.org/packages/34/5c/0e1d7ad0ca52544bb12f9cb8d5cc454af45821c92160ffedd38db0a317f6/SQLAlchemy-1.3.11.tar.gz (6.0MB)
     |████████████████████████████████| 6.0MB 801kB/s eta 0:00:01
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.11-cp36-cp36m-linux_x86_64.whl size=1213867 sha256=8215edd9db1f03433e46a6bdb2ab9d2d96d6c2fb9922012b50ac4c4dd6826fee
  Stored in directory: /root/.cache/pip/wheels/a3/67/7d/6c41104a1a08ff1a25e260d3edec3ac19203141d1aaa2f0975
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.11

In [12]:
with open('KIA_India_data/env.json') as data_file:    
    data = json.load(data_file)
pprint(data)

{'mysql': {'database': 'KIA_India_test',
           'password': 'its@1234',
           'server': '192.168.100.225',
           'user': 'root'}}

In [46]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import json
from pprint import pprint

'''
INPUT:
      Item                 DateTime        Date  TimeZone   Sum  Average  Avg2535  Std  Unbalance  StopTime  Peak
0  Item001  2019-06-25 17:00:00.000  2019-06-25  17:00:00  1200       12       11  0.1       0.06       200   9.1
1  Item001  2019-06-25 17:00:00.100  2019-06-25  17:00:00  1300       13       12  0.2       0.07       100   9.7
2  Item001  2019-06-25 17:00:00.200  2019-06-25  17:00:00  1400       11       13  0.3       0.01       600   9.5
3  Item001  2019-06-25 17:00:00.300  2019-06-25  17:00:00  1200       16       21  0.4       0.04       200   9.1
and
tablename
OUTPUT:
save database
'''

def DFtoDB(df, tablename):
    '''
    test

    data = [
        ['Item001', '2019-06-25 17:00:00', '2019-06-25', '17:00:00', 1200, 12, 11, 0.1, 0.06, 200, 9.1],
        ['Item001', '2019-06-25 17:30:00', '2019-06-25', '17:30:00', 1300, 13, 12, 0.2, 0.07, 100, 9.7],
        ['Item001', '2019-06-25 18:00:00', '2019-06-25', '18:00:00', 1400, 11, 13, 0.3, 0.01, 600, 9.5],
        ['Item001', '2019-06-25 18:30:00', '2019-06-25', '18:30:00', 1200, 16, 21, 0.4, 0.04, 200, 9.1],
    ]

    col = [
        'Item',
        'DateTime',
        'Date',
        'TimeZone',
        'Sum',
        'Average',
        'Avg2535',
        'Std',
        'Unbalance',
        'StopTime', 
        'Peak'
    ]

    df_tz = pd.DataFrame(data, columns = col)

    DFtoDB(df_tz, 'timezoneanalysis')
    '''
    with open('KIA_India_data/env.json') as data_file:    
        data = json.load(data_file)
    pprint(data)
    user = data["mysql"]["user"]
    password = data["mysql"]["password"]
    database = data["mysql"]["database"]
    server = data["mysql"]["server"]

    pymysql.install_as_MySQLdb()
    engine = create_engine("mysql+mysqldb://"+user+":"+password+"@"+server+"/"+database, encoding='ISO-8859-1')

    df.to_sql(name=tablename, con=engine, if_exists='append', index=False)

In [51]:
DFtoDB(df, 'HisItemCurr')

{'mysql': {'database': 'KIA_India_test',
           'password': 'its@1234',
           'server': '192.168.100.225',
           'user': 'root'}}

## HisAvg

In [39]:
df_avg = pd.read_csv("KIA_India_data/2019-11-25/HisAvg.csv",encoding='ISO-8859-1')

df_avg.columns = ['DataSavedTime', 'MilliSecond', 'DefServer', 'DefTable', 'DefColumn', 'Value', 'Area', 'Unit', 'Time']
print(df_avg)

                  DataSavedTime  MilliSecond DefServer     DefTable DefColumn  \
0       2019-11-25 10:00:00.000            0        S1  HisItemCurr   Item005
1       2019-11-25 10:00:00.000            0        S1  HisItemCurr   Item006
2       2019-11-25 10:00:00.000            0        S1  HisItemCurr   Item007
3       2019-11-25 10:00:00.000            0        S1  HisItemCurr   Item008
4       2019-11-25 10:00:00.000            0        S1  HisItemCurr   Item009
...                         ...          ...       ...          ...       ...
541767  2019-11-25 23:59:56.500          500        S1  HisItemCurr   Item020
541768  2019-11-25 23:59:57.400          400        S1  HisItemCurr   Item319
541769  2019-11-25 23:59:57.400          400        S1  HisItemCurr   Item403
541770  2019-11-25 23:59:57.700          700        S1  HisItemCurr   Item410
541771  2019-11-25 23:59:58.600          600        S1  HisItemCurr   Item400

          Value   Area Unit                     Time
0         3.594   2159    A  2019-11-25 10:00:00.000
1        12.590   7566    A  2019-11-25 10:00:00.000
2        11.356   6825    A  2019-11-25 10:00:00.000
3        10.433   6270    A  2019-11-25 10:00:00.000
4        10.189   6123    A  2019-11-25 10:00:00.000
...         ...    ...  ...                      ...
541767    2.723   1636    A  2019-11-25 23:59:56.500
541768  155.510  93461    A  2019-11-25 23:59:57.400
541769   40.609   1502    A  2019-11-25 23:59:57.400
541770    0.542     24    A  2019-11-25 23:59:57.700
541771   55.860   1675    A  2019-11-25 23:59:58.600

[541772 rows x 9 columns]

In [43]:
DFtoDB(df_avg, 'HisAvg')

{'mysql': {'database': 'KIA_India_test',
           'password': 'its@1234',
           'server': '192.168.100.225',
           'user': 'root'}}

## Peak and Mean

In [41]:
df_peak = pd.read_csv("KIA_India_data/2019-11-25/HisPeak.csv", encoding='ISO-8859-1')

df_peak.columns = ['DataSavedTime', 'MilliSecond', 'DefServer', 'DefTable', 'DefColumn', 'Value', 'Unit', 'Time']
print(df_peak)

df_mean = pd.read_csv("KIA_India_data/2019-11-25/HisMean.csv", encoding='ISO-8859-1')

df_mean.columns = ['DataSavedTime', 'MilliSecond', 'DefServer', 'DefTable', 'DefColumn', 'Value', 'Unit', 'Time']
print(df_mean)

                  DataSavedTime  MilliSecond DefServer     DefTable DefColumn  \
0       2019-11-25 10:00:00.300          300        S1  HisItemCurr   Item141
1       2019-11-25 10:00:00.300          300        S1  HisItemCurr   Item325
2       2019-11-25 10:00:00.300          300        S1  HisItemCurr   Item397
3       2019-11-25 10:00:00.600          600        S1  HisItemCurr   Item341
4       2019-11-25 10:00:00.800          800        S1  HisItemCurr   Item018
...                         ...          ...       ...          ...       ...
236748  2019-11-25 23:59:57.800          800        S1  HisItemCurr   Item001
236749  2019-11-25 23:59:59.200          200        S1  HisItemCurr   Item111
236750  2019-11-25 23:59:59.400          400        S1  HisItemCurr   Item323
236751  2019-11-25 23:59:59.700          700        S1  HisItemCurr   Item222
236752  2019-11-25 23:59:59.900          900        S1  HisItemCurr   Item303

         Value Unit                     Time
0         6.27    A  2019-11-25 10:00:59.700
1        18.88    A  2019-11-25 10:00:58.200
2         5.42    A  2019-11-25 10:00:58.600
3        17.76    A  2019-11-25 10:00:58.300
4        59.36    A  2019-11-25 10:00:09.900
...        ...  ...                      ...
236748   57.26    A  2019-11-26 00:00:06.400
236749   43.85    A  2019-11-26 00:00:43.600
236750  168.60    A  2019-11-26 00:00:43.600
236751   19.04    A  2019-11-26 00:00:59.400
236752  150.60    A  2019-11-26 00:00:43.600

[236753 rows x 8 columns]
                  DataSavedTime  MilliSecond DefServer     DefTable DefColumn  \
0       2019-11-25 10:01:40.500          600        S1  HisItemCurr   Item003
1       2019-11-25 10:02:40.600          600        S1  HisItemCurr   Item003
2       2019-11-25 10:03:40.600          600        S1  HisItemCurr   Item003
3       2019-11-25 10:04:40.600          700        S1  HisItemCurr   Item003
4       2019-11-25 10:05:40.700          700        S1  HisItemCurr   Item003
...                         ...          ...       ...          ...       ...
200507  2019-11-25 23:48:32.400          500        S1  HisItemCurr   Item401
200508  2019-11-25 23:49:01.300          400        S1  HisItemCurr   Item401
200509  2019-11-25 23:52:56.400          100        S1  HisItemCurr   Item401
200510  2019-11-25 23:57:15.800          500        S1  HisItemCurr   Item401
200511  2019-11-25 23:58:52.400          200        S1  HisItemCurr   Item401

         Value Unit                     Time
0       12.329    A  2019-11-25 10:02:38.600
1       12.556    A  2019-11-25 10:03:38.600
2       13.293    A  2019-11-25 10:04:38.600
3       12.829    A  2019-11-25 10:05:38.700
4       12.564    A  2019-11-25 10:06:38.700
...        ...  ...                      ...
200507   0.320    A  2019-11-25 23:48:34.500
200508   0.320    A  2019-11-25 23:49:04.400
200509   0.652    A  2019-11-25 23:53:00.100
200510   0.400    A  2019-11-25 23:57:18.500
200511   0.240    A  2019-11-25 23:58:54.200

[200512 rows x 8 columns]

In [48]:
DFtoDB(df_peak, 'HisPeak')

{'mysql': {'database': 'KIA_India_test',
           'password': 'its@1234',
           'server': '192.168.100.225',
           'user': 'root'}}

In [45]:
DFtoDB(df_mean, 'HisMean')

{'mysql': {'database': 'KIA_India_test',
           'password': 'its@1234',
           'server': '192.168.100.225',
           'user': 'root'}}