## IMPORT Library

In [372]:
import pandas as pd
import pymysql
import math
import numpy as np
import matplotlib.pyplot as plt

## Define functions

In [373]:
# 0,0,0,3,56,7,2,0,0,0,4,3,4,56,32,0,0,0,0 
# => [[3,56,7,2],[4,3,4,56,32]]
def get_list(queue):
    '''
     [0,0,0,3,56,7,2,0,0,0,4,3,4,56,32,0,0,0,0]
     => [[3,56,7,2],[4,3,4,56,32]]
    '''
    result = []
    tmp = []
    
    while(len(queue)>0):
        e = queue.pop(0)
        if e != 0 :
            tmp.append(e)
            # print(e)
        elif len(tmp)>0:
            result.append(tmp)
            tmp = []
            # print(result)
        else:
            continue
    
    return result

def get_index(queue):
    '''
     [0,0,0,3,56,7,2,0,0,0,4,3,4,56,32,0,0,0,0]
     => [[3,4,5,6],[10,11,12,13,14]]
    '''
    result = []
    tmp = []
    # print(len(queue))
    
    for i in range(len(queue)):
        e = queue.pop(0)
        if e != 0:
            tmp.append(i)
            # print(i)
        elif len(tmp)>0:
            result.append(tmp)
            tmp = []
            # print(result)
        else:
            continue
    # print("result: ", result)
    return result

## Read DB & get data

In [374]:
columns = ['DataSavedTime', 'Item']

In [375]:
conn = pymysql.connect(
    host='192.168.100.225',
    port=3306,
    user='root',
    password='its@1234',
    db='KIA_India_test',
    charset='utf8'
)

curs = conn.cursor()
# DL
# item = "Item055"
# exception = 10
# item = "Item016"
# exception = 20
# item = "Item018"
# exception = 20
# item = "Item032"
# exception = 15
# item = "Item033"
# exception = 20

# TL
# item = "Item001"
# exception = 30
# item = "Item002"
# exception = 20
# item = "Item013"
# exception = 10
# item = "Item014"
# exception = 15
# item = "Item021"
# exception = 20
# item = "Item022"
# exception = 20
# item = "Item023"
# exception = 20
# item = "Item024"
# exception = 20
# item = "Item025"
# exception = 20
# item = "Item026"
# exception = 10
# item = "Item027"
# exception = 20
item = "Item028"
exception = 20


sql = "select DataSavedTime, "+item+" from HisItemCurr WHERE DataSavedTime between \
    '2019-11-28 00:00:01' and '2019-11-28 12:00:00' ORDER BY DataSavedTime ASC"
curs.execute(sql)

rows=curs.fetchall()
# print(rows)
li = list(rows)
conn.close()
df = pd.DataFrame(li)
df.columns = columns
print(df)

                DataSavedTime  Item
0     2019-11-28 09:30:00.000  0.00
1     2019-11-28 09:30:00.100  0.00
2     2019-11-28 09:30:00.200  0.00
3     2019-11-28 09:30:00.300  0.00
4     2019-11-28 09:30:00.400  0.00
...                       ...   ...
82940 2019-11-28 11:39:59.700   NaN
82941 2019-11-28 11:39:59.700  1.29
82942 2019-11-28 11:39:59.800  1.27
82943 2019-11-28 11:39:59.900  1.27
82944 2019-11-28 11:40:00.000  1.27

[82945 rows x 2 columns]

## Getting each wave form

In [376]:
Item = list(df['Item'])
Item_zero = [0 if v is None or np.isnan(v) else v for v in Item]
# print(sum(Item_zero))
result_i = get_index(Item_zero)
# print(result_i)
ln = []
# peak_list = []
sum_list = []
mean_list = []
start_list = []
stop_list = []

for i in range(len(result_i)):
    a = result_i[i]
    if len(a) <= exception:
        continue
    else:
        # print("Step: ", i, "len: ", len(a))
        # print(a)
        # print("Start Index:", a[0], "Stop Index:", a[-1])
        print(len(a))

        stti = a[0]+exception
        print(stti)
        stpi = a[-1]
        tmp_df = df.iloc[stti:stpi+1]
        # print(tmp_df.shape)
        # print(tmp_df)
        # print("sum(area): ", sum(tmp_df['Item']))
        sum_list.append(sum(tmp_df['Item']))
        # print("mean(avg)", np.mean(tmp_df['Item']))
        mean_list.append(np.mean(tmp_df['Item']))
        # print("peak", max(tmp_df['Item']))
        # peak_list.append(max(tmp_df['Item']))
        start = tmp_df['DataSavedTime'].iloc[0]
        start_list.append(start)
        stop = tmp_df['DataSavedTime'].iloc[-1]
        stop_list.append(stop)
        # print("Start:", tmp_df['DataSavedTime'].iloc[0], "Stop:", tmp_df['DataSavedTime'].iloc[-1])
        # print(stop - start)
        # plt.plot(tmp_df['DataSavedTime'], tmp_df['Item'])
        # plt.show()
        # ln.append(len(a))
    
# plt.hist(ln)
# print(len(ln))

dict_data = {'start': start_list, 'stop':stop_list, 'avg': mean_list, 'area': sum_list}

df_dict = pd.DataFrame(dict_data)
print(df_dict)

36
288
25
653
31
1836
25
1961
31
2127
21
2163
25
2279
26
3430
22
3567
26
3595
39
3730
27
4917
23
5078
24
5961
27
6002
25
6175
23
6281
22
6337
23
6428
28
6452
22
7370
29
8738
40
9239
26
10097
27
10139
41
10252
30
10586
21
11828
22
11856
27
12884
30
12912
23
12943
30
13089
32
13241
25
13343
33
14232
29
14269
30
14425
41
14547
24
14589
35
14740
31
15626
42
15786
21
15913
26
15942
22
15969
24
16058
21
16125
25
16991
28
17095
21
17129
24
17271
28
17315
35
17415
42
18314
35
18357
21
18447
25
18469
28
18507
77
18620
25
18752
30
18795
41
25197
40
25239
48
25340
39
25389
25
25541
25
26686
27
26717
27
26829
27
26857
28
27002
27
27031
80
27126
30
29743
21
29901
30
29923
21
29954
44
30088
32
30197
30
30236
27
31058
34
31095
22
31130
29
31247
34
31422
41
31557
28
32464
23
32602
23
32626
39
32898
22
33822
21
33993
55
34107
28
34238
23
35207
21
35231
22
35310
40
35352
27
35470
40
35614
39
36722
22
36772
27
37075
21
37184
28
37206
61
39651
25
39800
34
39955
23
39998
33
41679
37
41713
48
41829
43
41971
22
42015
21
42038
75
42110
28
44337
25
44372
22
44488
29
44522
22
44693
26
44716
21
44800
33
44822
44
45744
24
45806
28
45889
24
45928
22
46053
45
46076
26
46207
34
46234
38
47231
29
47270
30
47371
30
47411
48
47518
29
47578
28
47680
27
47709
38
48554
25
48593
24
48683
41
48720
24
48846
55
48880
26
48999
40
49026
43
51118
26
51162
35
51257
47
51452
31
64866
38
65042
23
65157
31
65217
39
67752
24
67792
21
67902
57
67937
23
68052
21
68092
30
69527
21
69558
74
69649
43
69816
24
69860
38
69954
33
69993
31
70892
23
70924
69
71025
36
71189
22
71226
24
71249
28
71332
33
71372
21
71406
26
72236
22
72386
25
72449
24
72577
30
72606
21
72717
26
72739
24
74448
24
74473
46
74596
21
74782
29
74804
24
74965
26
77140
40
77189
29
77296
36
77340
30
77485
24
77516
52
77610
57
78541
31
78683
38
78715
21
78839
38
78871
27
78971
40
78999
27
79838
29
79866
53
80015
27
80206
24
80302
33
81224
33
81258
64
81370
37
81561
25
81657
22
81720
46
82601
34
82648
65
82736
35
82908
                      start                    stop       avg   area
0   2019-11-28 09:30:27.100 2019-11-28 09:30:28.600  1.271250  20.34
1   2019-11-28 09:31:00.900 2019-11-28 09:31:01.300  1.270000   6.35
2   2019-11-28 09:32:51.300 2019-11-28 09:32:52.300  1.292727  14.22
3   2019-11-28 09:33:03.100 2019-11-28 09:33:03.500  1.336000   6.68
4   2019-11-28 09:33:18.400 2019-11-28 09:33:19.400  1.285455  14.14
..                      ...                     ...       ...    ...
216 2019-11-28 11:38:05.600 2019-11-28 11:38:05.700  2.810000   5.62
217 2019-11-28 11:39:27.100 2019-11-28 11:39:29.600  1.289615  33.53
218 2019-11-28 11:39:31.700 2019-11-28 11:39:33.000  1.875000  26.25
219 2019-11-28 11:39:40.200 2019-11-28 11:39:44.600  1.313556  59.11
220 2019-11-28 11:39:56.800 2019-11-28 11:39:58.200  1.299333  19.49

[221 rows x 4 columns]

In [377]:
df_dict.to_csv(item + "_analysis_2019-11-28.csv", header=True)